.search-filter__label {
    color: $grey;
    display: block;
}

.search-filter {

    .MuiFormControl-root {
        width: 100%;
    }
    .MuiInputBase-formControl {
        
        background-color: $grey-light;
    }
    .MuiChip-root {
        flex-direction: row-reverse;
        margin: 0 2px;
        .MuiSvgIcon-root.MuiChip-deleteIcon {
            margin: 0 -4px 0 6px;
            color: #fff;
        }
    }

    
    hr {
        color: $grey;
    }
    
}