@font-face {
  font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/AvertaDemoPECuttedDemo-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Averta";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/averta-light-italic.otf") format("opentype");
}

@font-face {
  font-family: "Noe Display";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("./fonts/FontsFree-Net-NoeDisplay-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Noe Display";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/FontsFree-Net-Noe-Display-Medium.ttf") format("truetype");
}
/* --------------------------------
Font Variables + mixin
-------------------------------- */

$primary-font: "Averta", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
$secondary-font: "Noe Display", "Impact", Arial, Helvetica, Geneva, sans-serif;
$title-line-height: 1.3;

$bodyText: $black;


body {
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  color: $bodyText;
}

@mixin t-primary-regular {
  font-family: $primary-font;
}


@mixin t-secondary-regular {
  font-family: $secondary-font;
}

@mixin t-secondary-extra-bold {
  font-family: $secondary-font;
}

strong {
  font-weight: bold;
}


@mixin t-headline-1($h1: 42px, $decrese-factor: 1.3) {
  @include t-secondary-regular();
  font-size: round($h1 / $decrese-factor);
  letter-spacing: 0;
  line-height: $title-line-height;
  font-weight: bold;
  //text-align: left;
  @include breakpoint(sm) {
    font-size: $h1;
  }
  @content;
}

.t-headline-1 {
  @include t-headline-1();
}

@mixin t-headline-2 {
  @include t-headline-1(38px);
}

@mixin t-headline-3 {
  @include t-headline-1(30px);
}

@mixin t-headline-4 {
  @include t-headline-1(26px);
}

@mixin t-headline-5 {
  @include t-headline-1(22px) {
    font-size: 16px;
  }
}
@mixin t-headline-6 {
  @include t-headline-1(18px) {
    font-size: 16px;
  }
}
@mixin t-bodycopy-small {
  @include t-primary-regular;
  font-size: 14px;
  line-height: 1.1;
  text-align: left;
}

@mixin t-bodycopy-1 {
  @include t-primary-regular;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  text-align: left;
}

@mixin t-bodycopy-2($p: 19px, $decrese-factor: 1.2) {
  @include t-primary-regular;
  letter-spacing: 0;
  line-height: 1.5;
  text-align: left;
  font-size: round($p / $decrese-factor);
  @include breakpoint(sm) {
    font-size: $p;
  }
}

@mixin t-bodycopy-title {
  @include t-primary-regular;
  font-size: 1.2rem;
  text-align: left;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 1;
  @content;
}

@mixin t-blockquote {
  @include t-primary-regular;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: normal;
  line-height: 1.69;
  text-align: left;
}

@mixin underlined-title($color: $blue) {
  // TODO
}

////////////////////////////////////////
//BASE TYPOGRAPHY & ENTRY STYLES
////////////////////////////////////////


.t-headline-2 {
  @include t-headline-2();
}

.t-headline-3 {
  @include t-headline-3();
}

.t-headline-4 {
  @include t-headline-4();
}
.t-headline-6 {
  @include t-headline-6();
}
.t-bodycopy-small {
  @include t-bodycopy-small();
  p {
    @include t-bodycopy-small();
  }
}

.t-bodycopy-2 {
  @include t-bodycopy-2();
  p {
    @include t-bodycopy-2();
  }
}


.link--small {
  cursor: pointer;
  text-decoration: underline;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}


.line-clamp-1 {
    @include line-clamp(1);
}