.filter-list {
    .filter-list__filter-col {
        position: relative;
    }
    .btn-search {
        transform: rotate(-90deg);
        position: absolute;
        right: 0;
        top: 200px;
        min-width: 190px;
    }
    @include breakpoint(md, max) {
        .filter-list__heading {
            text-align: center;
        }
    }

}

.drawer--xl {
    .MuiPaper-root.MuiDrawer-paper {
        width: 70%;
        @include breakpoint(lg, max) {
            width: 100%;
        }
        @include breakpoint(xl, min) {
            width: 50%;
        }  
    }
}

.drawer__header {
    display: none;
    @include breakpoint(lg, max) {
        display: block;
    }
    padding: 8px 0;
    text-align: center;
    position: relative;
    border-bottom: 1px solid $grey-light;
    font-weight: bold;
    .drawer__close {
        position: absolute;
        right: 0;
        top: 0;
    }
}

